name: Lint

on:
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v5
    - uses: actions/cache@v4
      name: Configure npm caching
      with:
        path: ~/.npm
        key: ${{ runner.OS }}-npm-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-npm-
    - name: Install dependencies
      run: npm install
    - name: Run prettier
      run: |-
        npm run prettier
